<a href="https://colab.research.google.com/github/BhaveeMody/Bhavee_Mody/blob/main/print_and_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print Statement

In [ ]:
print("hello")

hello

In [ ]:
name = "Johnny"
print(name)
print(type(name))

Johnny
<class 'str'>

In [ ]:
x = 200
print(x)
print(type(x))

200
<class 'int'>

In [ ]:
y = 15.1
print(y)
print(type(y))

15.1
<class 'float'>

In [ ]:
z = True
print(z)
print(type(z))

True
<class 'bool'>

In [ ]:
print("welcome", name, "! Do you like the course?")

welcome Johnny ! Do you like the course?

In [ ]:
a = "b"
print(a)
print(type(a))

b
<class 'str'>

#Input Statement

In [ ]:
name = input("enter your name")
print(name)
print(type(name))

enter your nameBhavee Mody
Bhavee Mody
<class 'str'>

In [ ]:
x = input("enter a number")
print(x)
print(type(x))

enter a number20
20
<class 'str'>

In [ ]:
y = input("enter a float value ")
print(y)
print(type(y))

enter a float value 20.5
20.5
<class 'str'>

In [ ]:
b = input("enter a boolean value ")
print(b)
print(type(b))

enter a boolean value False
False
<class 'str'>

Note:Whenever we use the "Input Statement" the data type will be string by default.

#Tasks

## Calculator Program

In [ ]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))
print("the difference of",num1 ,"and", num2 ,"is equal to",(num1 - num2))
print("the sum of",num1 ,"and", num2 ,"is equal to",(num1 + num2))
print("the product of",num1 ,"and", num2 ,"is equal to",(num1 * num2))
print("the quotient of",num1 ,"and", num2 ,"is equal to",(num1/num2))

enter the first number100
enter the second number800
the difference of 100 and 800 is equal to -700
the sum of 100 and 800 is equal to 900
the product of 100 and 800 is equal to 80000
the quotient of 100 and 800 is equal to 0.125

#Conversion Program

In [ ]:
b = int(input("enter your distance in metres"))
kilometres= print("kilometres for", b, "metres is equal to ", (b/1000))

enter your distance in metres300
kilometres for 300 metres is equal to  0.3

In [ ]:
a = int(input("enter your weight in grams"))
kilograms= print("kilograms for",a,"grams is equal to",(a/1000))

enter your weight in grams200
kilograms for 200 grams is equal to 0.2

In [ ]:
c = int(input("enter your length value in inch"))
centimetres = print("cm for",c,"inch is equal to",(a*2.54))

enter your length value in inch500
cm for 500 inch is equal to 508.0

In [ ]:
d = int(input("enter the temperature in celcius"))
farenheit = print("farenheit for",d,"celcius is equal to",((d*9/5)+32))

enter the temperature in celcius30
farenheit for 30 celcius is equal to 86.0